In [378]:
import numpy as np

In [379]:
import pandas as pd

In [380]:
data= 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [381]:
!wget $data

--2023-09-28 22:07:17--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv.9’

housing.csv.9       100%[===================>]   1.36M  3.96MB/s    in 0.3s

2023-09-28 22:07:19 (3.96 MB/s) - ‘housing.csv.9’ saved [1423529/1423529]

In [719]:
df=pd.read_csv('housing.csv')

In [720]:
newdf = df [(df['ocean_proximity'] ==  '<1H OCEAN') | (df['ocean_proximity'] == 'INLAND')]

In [814]:
columns = [
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value']

In [815]:
newdf=pd.DataFrame(newdf,columns=columns)

# Question-1

In [816]:
newdf.isnull().sum()

housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [12]:
# total_bedrooms - 157

# Question -2

In [817]:
newdf.describe()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,15687.000000,15687.000000,15530.000000,15687.000000,15687.000000,15687.000000,15687.000000
mean,27.188118,2665.677312,541.244688,1466.317205,500.916491,3.804019,191943.020017
std,12.057128,2257.672743,435.650018,1180.389908,392.759399,1.857158,108801.077620
min,1.000000,2.000000,2.000000,3.000000,2.000000,0.499900,14999.000000
25%,17.000000,1441.000000,295.000000,802.000000,278.000000,2.520800,111300.000000
50%,27.000000,2118.000000,432.000000,1195.000000,406.000000,3.468800,166900.000000
75%,36.000000,3172.000000,645.000000,1777.000000,602.000000,4.686200,241100.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [15]:
# median (50% percentile) for variable 'population' - 1195

In [818]:
def split_data_count(index_len):
    n_test=int(index_len*.2)
    n_val=int(index_len*.2)
    n_train=index_len - n_test - n_val
    return([n_train,n_val,n_test])

In [819]:
def split_data(df,index_array,n_train,n_val,n_test):
    #df_train=pd.DataFrame()
    #df_val=pd.DataFrame()
    #df_test=pd.DataFrame()
    df_train=df.iloc[idx[:n_train]]
    df_val=df.iloc[idx[n_train:n_train+n_val]]
    df_test=df.iloc[idx[n_train+n_val:]]
    df_train.reset_index(drop=True,inplace=True)
    df_val.reset_index(drop=True,inplace=True)
    df_test.reset_index(drop=True,inplace=True)
    return ([df_train,df_val,df_test])

# Question - 3 Linear regression without regularization

In [820]:
idx=np.arange(len(newdf))

In [821]:
np.random.seed(42)

In [822]:
np.random.shuffle(idx)

In [823]:
    index_len=len(idx)
    n_val=int(index_len*.2)
    n_test=int(index_len*.2)
    
    n_train=index_len - n_test - n_val

In [824]:
n_train,n_val,n_test=split_data_count(len(idx))

In [825]:
n_train,n_val,n_test

(9413, 3137, 3137)

In [597]:
#x_train= df_train[['total_rooms','total_bedrooms','population','households']]

In [826]:
    df_train=newdf.iloc[idx[:n_train]]
    df_val=newdf.iloc[idx[n_train:n_train+n_val]]
    df_test=newdf.iloc[idx[n_train+n_val:]]
    df_train.reset_index(drop=True,inplace=True)
    df_val.reset_index(drop=True,inplace=True)
    df_test.reset_index(drop=True,inplace=True)

In [605]:
#df_train,df_val,df_test = split_data(newdf,idx,n_train,n_val,n_test)

In [634]:
#feature_columns=['total_rooms','total_bedrooms','population','households']

In [827]:
def prepare_data(x,feat_columns,fillValue=0):
   # x=x[feat_columns]
    prepared_x=x.fillna(0)
    return prepared_x

In [828]:

x_train=prepare_data(df_train,feature_columns,0)
x_val=prepare_data(df_val,feature_columns,0)
x_test=prepare_data(df_test,feature_columns,0)
del x_train['median_house_value']
del x_val['median_house_value']
del x_test['median_house_value']

In [829]:
x_val

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,9.0,1608.0,297.0,1057.0,295.0,3.7143
1,34.0,1410.0,214.0,837.0,240.0,6.1168
2,32.0,1116.0,328.0,1265.0,302.0,2.2950
3,29.0,2409.0,436.0,1142.0,440.0,3.6895
4,10.0,3208.0,636.0,1395.0,582.0,3.4455
...,...,...,...,...,...,...
3132,29.0,2610.0,597.0,1659.0,571.0,1.5911
3133,25.0,2516.0,0.0,1266.0,494.0,1.7566
3134,30.0,5308.0,854.0,2114.0,838.0,5.1985
3135,36.0,3514.0,818.0,2277.0,828.0,3.1211
3136,36.0,2637.0,476.0,1385.0,483.0,4.1739

In [598]:
#x_train= df_train[['total_rooms','total_bedrooms','population','households']]
#x_train=x_train.fillna(0)
#x_val= df_val[['total_rooms','total_bedrooms','population','households']]
#x_val=x_val.fillna(0)
#x_test= df_test[['total_rooms','total_bedrooms','population','households']]
#x_test=x_test.fillna(0)

In [830]:
def train_linear_regression(x,y):
    ones=np.ones(x.shape[0])
    x=np.column_stack([ones,x])
    XTX=x.T.dot(x)
    invXTX=np.linalg.inv(XTX)
    w=invXTX.dot(x.T).dot(y)
    print (w)
    return w[0],w[1:]

In [831]:
x_train

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,22.0,2935.0,523.0,1927.0,530.0,2.5875
1,16.0,2426.0,426.0,1319.0,446.0,4.8125
2,26.0,3653.0,568.0,1930.0,585.0,5.7301
3,32.0,2668.0,609.0,1512.0,541.0,2.9422
4,39.0,2479.0,541.0,1990.0,506.0,2.4306
...,...,...,...,...,...,...
9408,33.0,2005.0,392.0,1043.0,351.0,5.3080
9409,28.0,1673.0,385.0,1434.0,371.0,2.0586
9410,46.0,1238.0,147.0,377.0,145.0,8.4546
9411,24.0,3668.0,890.0,3151.0,810.0,3.0526
9412,18.0,1307.0,441.0,884.0,456.0,2.9338

In [832]:
w0,w=train_linear_regression(x_train,y_train)

[ 1.20144318e+01  2.18978347e-04  1.39798242e-08  1.53544809e-05
  1.70257208e-06 -3.27620097e-05 -2.32639755e-03]

In [833]:
y_train=np.log1p(df_train.median_house_value).values
y_val=np.log1p(df_val.median_house_value).values
y_test=np.log1p(df_test.median_house_value).values

In [834]:
x_val

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,9.0,1608.0,297.0,1057.0,295.0,3.7143
1,34.0,1410.0,214.0,837.0,240.0,6.1168
2,32.0,1116.0,328.0,1265.0,302.0,2.2950
3,29.0,2409.0,436.0,1142.0,440.0,3.6895
4,10.0,3208.0,636.0,1395.0,582.0,3.4455
...,...,...,...,...,...,...
3132,29.0,2610.0,597.0,1659.0,571.0,1.5911
3133,25.0,2516.0,0.0,1266.0,494.0,1.7566
3134,30.0,5308.0,854.0,2114.0,838.0,5.1985
3135,36.0,3514.0,818.0,2277.0,828.0,3.1211
3136,36.0,2637.0,476.0,1385.0,483.0,4.1739

In [835]:
w0

12.014431779951353

In [836]:
w

array([ 2.18978347e-04,  1.39798242e-08,  1.53544809e-05,  1.70257208e-06,
       -3.27620097e-05, -2.32639755e-03])

In [837]:
y_pred_val=w0+x_val.dot(w)

In [838]:
def rmse(y,y_pred):
    diff=(y-y_pred)**2
    mean_err=diff.mean()
    return np.sqrt(mean_err)

In [839]:
rmse(y_val,y_pred_val)

0.5777771526612085

In [840]:
x_train=prepare_data(df_train,feature_columns,x_train['total_bedrooms'].mean())
del x_train['median_house_value']

In [841]:
x_train.isnull().sum()

housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [842]:
w0,w=train_linear_regression(x_train,y_train)

[ 1.08629821e+01  6.28042885e-03 -1.13878059e-04  2.41801154e-04
 -1.18362318e-04  8.69077011e-04  2.35130044e-01]

In [843]:
w0,w

(10.862982108101813,
 array([ 6.28042885e-03, -1.13878059e-04,  2.41801154e-04, -1.18362318e-04,
         8.69077011e-04,  2.35130044e-01]))

In [846]:
y_pred_val=w0+x_val.dot(w)

In [847]:
rmse(y_val,y_pred_val)

0.39871531957966666

# Question-4

In [848]:
    df=pd.read_csv('housing.csv')
    newdf = df [(df['ocean_proximity'] ==  '<1H OCEAN') | (df['ocean_proximity'] == 'INLAND')]
    columns = [
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value']
    newdf=pd.DataFrame(newdf,columns=columns)
    idx=np.arange(len(newdf))
    np.random.seed(42)
    np.random.shuffle(idx)

In [849]:
    n_val=int(len(idx)*.2)
    n_test=int(len(idx)*.2)
    n_train=len(idx) - n_test - n_val
    n_train,n_val,n_test

(9413, 3137, 3137)

In [850]:
newdf

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
701,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
830,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
859,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
860,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
861,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0
...,...,...,...,...,...,...,...
20635,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [851]:
    df_train=newdf.iloc[idx[:n_train]]
    df_val=newdf.iloc[idx[n_train:n_train+n_val]]
    df_test=newdf.iloc[idx[n_train+n_val:]]
    df_train.reset_index(drop=True,inplace=True)
    df_val.reset_index(drop=True,inplace=True)
    df_test.reset_index(drop=True,inplace=True)

In [852]:
df_train

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,22.0,2935.0,523.0,1927.0,530.0,2.5875,70400.0
1,16.0,2426.0,426.0,1319.0,446.0,4.8125,224500.0
2,26.0,3653.0,568.0,1930.0,585.0,5.7301,260900.0
3,32.0,2668.0,609.0,1512.0,541.0,2.9422,233100.0
4,39.0,2479.0,541.0,1990.0,506.0,2.4306,289100.0
...,...,...,...,...,...,...,...
9408,33.0,2005.0,392.0,1043.0,351.0,5.3080,297900.0
9409,28.0,1673.0,385.0,1434.0,371.0,2.0586,40900.0
9410,46.0,1238.0,147.0,377.0,145.0,8.4546,500001.0
9411,24.0,3668.0,890.0,3151.0,810.0,3.0526,183300.0
9412,18.0,1307.0,441.0,884.0,456.0,2.9338,276300.0

In [853]:
    x_train=df_train.fillna(0)
    x_val=df_val.fillna(0)
    x_test=df_test.fillna(0)

In [854]:
x_val.isnull().sum()

housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [855]:

    y_train=np.log1p(df_train.median_house_value.values)
    y_val=np.log1p(df_val.median_house_value.values)
    y_test=np.log1p(df_test.median_house_value.values)
    del x_train['median_house_value']
    del x_val['median_house_value']
    del x_test['median_house_value']

In [856]:
#checked
def train_linear_regression_reg(x,y,r):
    ones=np.ones(x.shape[0])
    x=np.column_stack([ones,x])
    XTX=x.T.dot(x)
    XTX = XTX + r*(np.eye(XTX.shape[0]))
    invXTX=np.linalg.inv(XTX)
    w=invXTX.dot(x.T).dot(y)
    return w[0],w[1:]

In [857]:
#checked
for r in [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]:
    w0,w=train_linear_regression_reg(x_train,y_train,r)
    y_pred_val=w0+x_val.dot(w)
    score=rmse(y_val,y_pred_val)
    print (r, round(score,4))

0 0.3987
1e-06 0.3987
0.0001 0.3987
0.001 0.3987
0.01 0.3987
0.1 0.3987
1 0.3989
5 0.4
10 0.4027

# Question-5

In [884]:
df=pd.read_csv('housing.csv')
newdf = df [(df['ocean_proximity'] ==  '<1H OCEAN') | (df['ocean_proximity'] == 'INLAND')]
columns = ['latitude',
'longitude',
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value']
newdf=pd.DataFrame(newdf,columns=columns)
idx=np.arange(len(newdf))
n_train,n_val,n_test=split_data_count(len(idx))

In [885]:
    np.random.seed(0)
    np.random.shuffle(idx)

In [886]:
    df_train=newdf.iloc[idx[:n_train]]
    df_val=newdf.iloc[idx[n_train:n_train+n_val]]
    df_test=newdf.iloc[idx[n_train+n_val:]]
    df_train.reset_index(drop=True,inplace=True)
    df_val.reset_index(drop=True,inplace=True)
    df_test.reset_index(drop=True,inplace=True)

In [887]:
    x_train=df_train.fillna(0)
    x_val=df_val.fillna(0)
    x_test=df_test.fillna(0)

In [888]:
    y_train=np.log1p(df_train.median_house_value).values
    y_val=np.log1p(df_val.median_house_value).values
    y_test=np.log1p(df_test.median_house_value).values

In [889]:
    del x_train['median_house_value']
    del x_val['median_house_value']
    del x_test['median_house_value']

In [890]:


score_arr = []
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    np.random.seed(i)
    np.random.shuffle(idx)
   
    df_train=newdf.iloc[idx[:n_train]]
    df_val=newdf.iloc[idx[n_train:n_train+n_val]]
    df_test=newdf.iloc[idx[n_train+n_val:]]
    df_train.reset_index(drop=True,inplace=True)
    df_val.reset_index(drop=True,inplace=True)
    df_test.reset_index(drop=True,inplace=True)
    
    x_train=df_train.fillna(0)
    x_val=df_val.fillna(0)
    x_test=df_test.fillna(0)

    y_train=np.log1p(df_train.median_house_value).values
    y_val=np.log1p(df_val.median_house_value).values
    y_test=np.log1p(df_test.median_house_value).values
    
    del x_train['median_house_value']
    del x_val['median_house_value']
    del x_test['median_house_value']

    w0,w=train_linear_regression_reg(x_train,y_train,0)
    
    y_pred_val=w0+x_val.dot(w)
    score=rmse(y_val,y_pred_val)
    print ( w0, score)
    score_arr.append(score)

-10.156623821092166 0.3391099327108759
-9.886481292645843 0.34417424413662573
-10.051234831518013 0.34472030439021345
-9.856331056506008 0.3393198828861299
-10.193679454265462 0.3504941452864902
-9.472492464146137 0.33144312031438805
-10.507192908317144 0.34735937898952335
-9.85624086139073 0.34896418729198425
-9.977922924069283 0.3269362609878322
-10.033242328386798 0.34187996571909096

In [891]:
np_score_arr=np.array(score_arr)

In [892]:
std_dev=np.std(np_score_arr)

In [893]:
std_dev

0.007157375254575385

In [894]:
round(std_dev, 3)

0.007

In [419]:
type(y_train)

numpy.ndarray

# Question -6

In [883]:
df=pd.read_csv('housing.csv')
newdf = df [(df['ocean_proximity'] ==  '<1H OCEAN') | (df['ocean_proximity'] == 'INLAND')]
columns = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value']

newdf=pd.DataFrame(newdf,columns=columns)
idx=np.arange(len(newdf))
n_train,n_val,n_test=split_data_count(len(idx))


np.random.seed(9)
np.random.shuffle(idx)

df_train=newdf.iloc[idx[:n_train]]
df_val=newdf.iloc[idx[n_train:n_train+n_val]]
df_test=newdf.iloc[idx[n_train+n_val:]]
df_train.reset_index(drop=True,inplace=True)
df_val.reset_index(drop=True,inplace=True)
df_test.reset_index(drop=True,inplace=True)
    
x_train=df_train.fillna(0)
x_val=df_val.fillna(0)
x_test=df_test.fillna(0)


y_train=np.log1p(df_train.median_house_value).values
y_val=np.log1p(df_val.median_house_value).values
y_test=np.log1p(df_test.median_house_value).values
    
del x_train['median_house_value']
del x_val['median_house_value']
del x_test['median_house_value']

x_train_val = pd.concat([x_train,x_val])
y_train_val = np.concatenate((y_train,y_val))

w0,w=train_linear_regression_reg(x_train_val,y_train_val,0.001)
    
y_pred_test=w0+x_test.dot(w)
score=rmse(y_test,y_pred_test)
score= round(score, 3)
print ( w0, score)

-9.72483921716023 0.335

In [423]:
type(x_train)

pandas.core.frame.DataFrame